.Rproj.user
.Rhistory
.RData
.Ruserdata
/for_QA.R
/for_fun_looking_at_food_and_env_impact.R
/libs/
/OLD/
/ar_ah_bbc_kb_Aslaug.csv
/cuisenaz_Aslaug.csv
/thesis/images/
/Data/output/
/Data/QA/
*.pdf
more_US_recipes.csv
/thesis/article/
/Supplementary/
*.zip
*.log
*.tex
/thesis/draft/
/thesis/Notes.Rmd
/original_ingredients
/item-profiles3_ingredient.csv
/Data/output/
*.Rds
*.RData
/Data/recipes/Data_UK_100*
/Data/recipes/Data_US_per_serving*
*.png